{% extends "layout.html" %}

{% block body %}
    <style>
        body
        {
            background-image: 
            radial-gradient(transparent, black),
            url('static/netflixBackground.jpg');
            background-size:cover;
            box-shadow: inset 0 0 5em 1em #000;
            text-align: center;
        }
        .centered
        {
            color: white;
            text-align:center;
        }
        .firsttext
        {
            color: white;
            font-size: 66px;
            margin-top: 200px;
            margin-bottom: -20px;
            text-align:center;
        }
        .secondtext
        {
            color: white;
            font-size: 66px;
            margin-top:18px;
            text-align:center;
        }
        .thirdtext
        {
            color: white;
            font-size: 22px;
            margin-top:-30px;
            text-align:center;
        }
        .textfour
        {
            color: white;
            font-size: 18px;
            font-weight: normal;
            margin-top: 20px;
            margin-bottom: -15px;
            text-align:center;
        }
        .netflixtext
        {
            color: red;
            font-weight: bold;
            position: absolute;
            top:-330px;
            right: 220px;
            text-align:right;
        }
        button[id="login"]
        {
            color: white;
            background-color: rgb(236, 28, 28);
            border: 0px;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 15px;
            font-weight: 10px;
            padding: 8px;
            padding-right: 20px;
            position: absolute;
            top:30px;
            right: 150px;
            width:7%;
        }
        button[id="Get Started >"]
        {
            border: 0px;
            border-radius: 4px;
            box-sizing: border-box;
            color: white;
            background-color: rgb(236, 28, 28);
            font-size: 20px;
            margin-top: 15px;
            padding-top: 14px;
            padding-bottom: 17px;
            padding-left: -5px;
            padding-right: 5px;
            width: 15%;
            position: absolute;
            top: 79.5%;
            left: 58%;
            z-index: 1;
        }
        input[name="Email"]
        {
            background-color: rgba(0,0,0,0.5);
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 15px;
            box-sizing: border-box;
            color: white;
            font-size: 15px;
            margin-right: 4px;
            margin-top: 13px;
            padding: 17px;
            padding-right: 1px;
            width: 30%;
            position: absolute;
            top: 80%;
            left: 27%;
            z-index: 1;
        }
        ::placeholder 
        {
            font-weight: 100px;
            color: solid #ccc;
        }
    </style>
    <!-- <img src="{{url_for ('static', filename='image.jpg') }}"/> -->
    <svg class="netflixtext" viewBox="0 0 500 500">
        <path id="curve" d="M 100,250 A 200, 200 0 0,1 400,250" transform="translate(-150,1)" fill="transparent"/>
            <text class="netflixtext" x="-200" y="-100" fill="red">
                <textPath href="#curve" startOffset="100%">
                    NETFLIX
                </textPath>
            </text>
    </svg>
    
    <h1 class="firsttext">
        Unlimited movies,
    </h1>
    <h1 class="secondtext">
        TV shows, and more
    </h1>
    <h4 class="thirdtext" >
        Starts at N2,200. Cancel anytime.
    </h4>
    <h4 class="textfour">
        Ready to watch? Enter your email to create or restart your membership.
    </h4>
    <p>
        
    </p>
    <form action = "{{ url_for ('index') }}" method="post">
        <p>
            <input autocomplete="off" autofocus name="Email" placeholder="Email address" type="email">
            <button id="Get Started >">Get Started ></button>
        </p>
    </form>
        <p class="signin">
            <a href="{{ url_for ('login') }}">
                <button id="login">Sign In</button>
            </a>
        </p>

{% endblock %}