{% extends "layout.html" %}

{% block body %}
    <style>
        body
        {
            background-image: url('static/netflixBackground.jpg');
            background-repeat: no-repeat;
            background-size:1300px 555px;
            text-align: center;
            overflow-x: hidden;
        }
        *
        {
            box-sizing: border-box;
        }
        .signintext
        {
            color: white;
            font-size: 35px;
            margin-left: -215px;
            margin-top: 5%;
        }
        .OR-text
        {
            color: white;
            font-size: 17px;
            font-weight: 1px;
            opacity: 0.6;
            row-gap: 5px;
        }
        .forgotPassword-text
        {
            color: white;
            font-size: 17px;
            font-weight: 1px;
        }
        input[type="checkbox"]
        {
            background-color: blue;
            border:1px black;
            width: 20px;
            height: 40px;
            margin-top: -12px;
            display: flex;
        }
        .rememberMe-text
        {
            color: white;
            font-size: 17px;
            font-weight: 1px;
            
        }
        .netflixtext
        {
            color: red;
            font-weight: bold;
        }
        input[type="email"]
        {
            background: rgba(0,0,0,0.2);
            border: 1px solid #ccc;
            border-radius: 2px;
            box-sizing: border-box;
            color: white;
            padding: 19px;
            width: 69%;
            margin-top: -12px;
            
        }
        input[type="password"]
        {
            background: rgba(0,0,0,0.2);
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            color: white;
            margin-top: -3px;
            padding: 19px;
            width: 69%;
        }
        input[value="Sign In"]
        {
            background-color: red;
            color: white;
            border: 1px;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 15px;
            font-weight: bold;
            margin-top: -2px;
            padding: 11px;
            width: 69%;
        }
        input[value="Use a Sign-In Code"]
        {
            background: rgba(255,255,255,0.2);
            border: 1px;
            border-radius: 4px;
            box-sizing: border-box;
            color: white;
            font-size: 15px;
            font-weight: bold;
            margin-top: -1px;
            padding: 12px;
            width: 69%;
        }
        .flex-container
        {
            /* position: relative; */
            background-color: black;
            border: 1px solid black;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height:460px;
            width: 36.5%;
            opacity: 0.7;
            margin:auto; 
            margin-left: 410px;
            margin-top: 90px; 
            bottom:0px;
        }
        ::placeholder 
        {
            color: white;
            opacity: 1;
        }
    </style>
    <!-- <svg class="netflixtext" viewBox="0 0 500 500">
        <path id="curve" d="M 100,250 A 200, 200 0 0,1 400,250" transform="translate(-150,-150)"/>
            <text class="netflixtext" x="-200" y="-100" fill="red">
                <textPath href="#curve" startOffset="100%">
                    NETFLIX
                </textPath>
            </text>
    </svg> -->
    <main>
        <div style="float: left; margin-left: 130px; margin-top: -90px;">
            <img src="{{url_for ('static', filename='netflix.svg') }}" style="width: 150px; height: 100px; margin-top: 0;">
        </div>
        <div class="flex-container">
            <h1 class="signintext">Sign In</h1>
            <form action="{{ url_for ('login') }}" method="post">
                <p>
                    <input autocomplete="off" autofocus name="email" placeholder="Email or mobile number" type="email">
                </p>
                <p>
                    <input autocomplete="off" autofocus name="password" placeholder="Password" type="password">
                </p>
                <p>
                    <input id="1" type="submit" value="Sign In">
                </p>
                <div class="OR-text">OR</div>
                <p>
                    <input id="2" type="submit" value="Use a Sign-In Code">
                </p>
                <div class="forgotPassword-text">Forgot password?</div>
            </form>
        </div>
    </main>
    
    <footer style="height: 500px; background-color: black; margin-left: -10px; margin-right: -10px;">
        <div style="display: flex; margin-left: 500px;">
            <input id="rememberMe" class="checkbox" name="rememberMe" type="checkbox" value="Remember me">
            <div style="color: white; display: flex;">Remember me</div>
        </div>
    </footer>
        
{% endblock %}