.housingagent-starratings-scroll
{
    position: relative;
    /* display: inline-block; */
    width: 100%;
    display: inline-block;
    height: 100px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: green;
    /* add the ability to scroll */
    overflow-x: scroll;
}

/* hide scrollbar for Chrome, Safari and Opera */
.housingagent-starratings-scroll::-webkit-scrollbar
{
    display: none;
}

.housingagent-starratings-scroll
{   
    /* hide for IE and Edge */
    -ms-overflow-style: none; 
    /* hide for Firefox */
    scrollbar-width: none;
}