.agent-homepage-scrollboxes-container
{
    position: relative;
    overflow-x: scroll;
    padding-top: 10px;
    padding-left: 20px;
    height: 550px;
    width: 100%;
}

/* hide scrollbar for Chrome, Safari and Opera */
.agent-homepage-scrollboxes-container::-webkit-scrollbar
{
    display: none;
}

.agent-homepage-scrollboxes-container
{
    /* hide for IE and Edge */
    -ms-overflow-style: none; 
    /* hide for Firefox */
    scrollbar-width: none;
}
.agent-homepage-scrollbox1
{
    width: 25%;
    height: 550px;
    position: absolute;
    margin-left: 10px;
    background-color: rgb(154, 160, 165);
}
.agent-homepage-scrollbox2
{
    width: 25%;
    height: 550px;
    position: absolute;
    background-color: white;
    margin-left: 350px;
}
.agent-homepage-scrollbox3
{
    width: 25%;
    height: 550px;
    position: absolute;
    background-color: rgb(224, 220, 220);
    margin-left: 690px;
}
.agent-homepage-scrollbox4
{
    width: 25%;
    height: 550px;
    position: absolute;
    background-color: lightslategray;
    margin-left: 1030px;
}

.agent-homepage-navlist-container
{
    position: relative;
    height: 40px;
    width: 100%;
}
.agent-homepage-navlist-subdiv
{
    position: fixed;
    display: flex;
    width: 100%;
    height: 40px;
    bottom: 0;

}
.agent-homepage-navlist-link
{
    position: relative;
    border: 3px solid black;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    width: 20%;
}
.agent-homepage-navicon
{
    width: 40px;
    height: 30px;
    border-radius: 50%;
}