.div-1-register
{
    margin-top: 0px;
}
.div-1-subdiv1-register
{
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: rgb(240, 240, 229);
    margin-top: 0px;
}
.createaccount-user-link
{
    width: 200px;
    height: 50px;
    position: relative;
    border: 1px solid rgb(20, 50, 100);
    border-radius: 10px;
    /* margin-left: 20px; */
    background-color: rgb(20, 50, 100);
}
.createaccount-vendor-link
{
    width: 200px;
    height: 50px;
    position: relative;
    border: 1px solid rgb(20, 50, 100);
    border-radius: 10px;
    margin-left: 30px;
    background-color: rgb(20, 50, 100);
}
.createaccount-agent-link
{
    width: 200px;
    height: 50px;
    position: relative;
    border: 1px solid rgb(20, 50, 100);
    border-radius: 10px;
    margin-left: 30px;
    background-color: rgb(20, 50, 100);
}
.register-as-user-dropdown
{
    position: absolute;
    display: none;
    width: 700px;
    height: 500px;
    left: -50px;
    top: 50px;
    z-index: 1;
    background-color: white;
    border: 2px solid lightslategray;
    border-radius: 5px;
}
.register-as-vendor-dropdown
{
    position: absolute;
    display: none;
    width: 700px;
    height: 500px;
    top: 50px;
    left: -150px;
    z-index: 1;
    background-color: white;
    border: 2px solid lightslategray;
    border-radius: 5px;
}
.register-as-agent-dropdown
{
    position: absolute;
    display: none;
    width: 700px;
    height: 500px;
    top: 50px;
    left: -300px;
    z-index: 1;
    background-color: white;
    border: 2px solid lightslategray;
    border-radius: 5px;
}


.movingbox
{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 400px;
    animation-name: shakingbox;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes shakingbox {
    0% {left: 200px;}
    100%{left: 0px;}
}