.user-buyland-pg1-lga-scroll
{
    position: relative;
    /* display: inline-block; */
    width: 100%;
    height: 300px;
    margin-left: 20px;
    padding-top: 10px;
    /* add the ability to scroll */
    overflow-x: scroll;
    background-color: white;
}

/* hide scrollbar for Chrome, Safari and Opera */
.user-buyland-pg1-lga-scroll::-webkit-scrollbar
{
    display: none;
}

.user-buyland-pg1-lga-scroll
{
    -ms-overflow-style: none;
    scrollbar-width: none;
}