


{% extends "layout.html" %}

{% block body %}
    <style>
        .medium
        {
            font-size: medium;
            text-align: center;
        }
        .centered
        {
            text-align:center;
        }
    </style>
    <h1 class="medium">
        Sign up
    </h1>
        
    <p>
        <form action="{{ url_for ('validatepage1') }}" class="centered" method="post">
            <input autocomplete="off" autofocus name="firstname" placeholder="Official First Name" type="text">
            <p>
                <input autocomplete="off" autofocus name="lastname" placeholder="Official Last Name" type="text">
            </p>
            
            <p>
                <input autocomplete="off" autofocus name="email" placeholder="email" type="email">
            </p>
            <p>
                <input autocomplete="off" autofocus name="password" placeholder="Password" type="password">
            </p>
            <p>
                <select name="gender">
                    <option disabled selected value="">Gender</option>
                    {% for gender  in genders %}
                        <option value="{{ gender }}">{{ sport }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <button type="submit">Sign up</button>
            </p>
            
        </form>
    </p>
    
    
{% endblock %}      