{% extends "layout.html" %}
{% block body %}

    <!-- the id="window.register" is used in jquery to close the dropdown fo register as agent -->
    <div class="div-1-register" id="window.register" style="background-color: black; height: 1000px">
        <div class="div-1-subdiv1-register">
            <div class="createaccount-user-link">
                <a href="createaccount-user" style="text-decoration: none;">
                    <div style="color: white;">register to Buy</div>
                    <div class="register-as-user-dropdown"></div>
                </a>
            </div>
    
            <div class="createaccount-vendor-link">
                <a href="createaccount-vendor">
                    <div style="color: white;">register as vendor</div>
                    <div class="register-as-vendor-dropdown"></div>
                </a>
            </div>
    
            <div class="createaccount-agent-link" onclick="agentRegisterasDropdown()">
                <div style="color: white;" value="register as agent">Register as Agents</div>
                <div class="register-as-agent-dropdown">
                    <a href="createaccount-land-agent">
                        <h3>register as Land agent</h3>
                    </a>
                    <a href="createaccount-housing-agent">
                        <h3>register as House agent</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="movingbox">
            <div style="width: 50%; height: 100%; border: 5px dotted orangered;
                border-radius: 10px; background-color: white; position: absolute;">
                <h2>Join a team and </h2>
                <h2>enjoy the market place</h2>
            </div>
        </div>
    </div>
    
{% endblock %}