{% extends "layout.html" %}
{% block body %}

    <div class="div-1-register">
        <div class="div-1-subdiv1-register">
            <div class="createaccount-user-link">
                <a href="createaccount-user" style="position: relative;">register to Buy
                    <div class="register-as-user-dropdown"></div>
                </a>
            </div>
    
            <div class="createaccount-vendor-link">
                <a href="createaccount-vendor" style="position: relative;">register as vendor
                    <div class="register-as-vendor-dropdown"></div>
                </a>
            </div>
    
            <div class="createaccount-agent-link">
                <a href="createaccount-agent" style="position: relative;">register as agent
                    <div class="register-as-agent-dropdown"></div>
                </a>
            </div>
        </div>
              
    </div>
    
{% endblock %}