{% extends "layout.html" %}

{% block body %}

    <div class="form">
        <h2>Login</h3>
            <p>Securely login to you profile</p>
            <form action="{{ url_for ('buylinkfrompage2') }}" method="post">
                <div class="all-texts">Email</div>
                <input autocomplete="off" autofocus name="email" type="email"> 
                <p>
                    <div class="all-texts">Password</div>
                    <input autocomplete="off" autofocus name="password" type="password">
                </p>
                <input type="submit" value="Login">
            </form>
    </div>
{% endblock %}