{% extends "layout.html" %}
{% block body %}

    <div>
        <div>
            <div style="margin-left: 30px;">
                
                <h2 style="float: left;"> < Buy land </h2>

                <div style="height: 200px; margin-top: 10px;">
                    <div style="position: relative; width: 100%; height: 150px; margin: auto;
                        background-color: #004aad; border: 1px solid blue; border-radius: 10px;">
                        <h1 style="position: absolute; color: white;">GET STARTED</h1>
                    </div>
                </div>

                <h3>All Locations</h3>
            </div>
        </div>
        <!-- <div class="user-buyland-pg1-lga-scroll">

            <div style="width: 150px; height: 150px; background-color: blueviolet; position: absolute; margin-left: 10px;"></div>
            <div style="width: 150px; height: 150px; background-color: blueviolet; margin-left: 180px; position: absolute;"></div>
            <div style="width: 150px; height: 150px; background-color: blueviolet; margin-left: 350px; position: absolute;"></div>
            <div style="width: 150px; height: 150px; background-color: blueviolet; margin-left: 520px; position: absolute;"></div>
            <div style="width: 150px; height: 150px; background-color: blueviolet; margin-left: 690px; position: absolute;"></div>
            <div style="width: 150px; height: 150px; background-color: blueviolet; margin-left: 860px; position: absolute;"></div>
            <div style="width: 150px; height: 150px; background-color: blueviolet; margin-left: 1030px; position: absolute;"></div>
            <div style="width: 150px; height: 150px; background-color: blueviolet; margin-left: 1200px; position: absolute;"></div>
            <div style="width: 150px; height: 150px; background-color: blueviolet; margin-left: 1370px; position: absolute;"></div>
            <div style="width: 150px; height: 150px; background-color: blueviolet; margin-left: 1540px; position: absolute;"></div>
            <div style="width: 150px; height: 150px; background-color: blueviolet; margin-left: 1710px; position: absolute;"></div>
            <div style="width: 150px; height: 150px; background-color: blueviolet; margin-left: 1880px; position: absolute;"></div>
            <div style="width: 150px; height: 150px; background-color: blueviolet; margin-left: 2050px; position: absolute;"></div>
            <div style="width: 150px; height: 150px; background-color: blueviolet; margin-left: 2220px; position: absolute;"></div>
        </div> -->

        <div style="display: flex; justify-content: center; margin-top: 0;">
            <div style="width: 80%;">
                <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <a href="user_oneacre_buyland_listingpg2">
                        <div style="width: 300px; height: 150px; background-color: blueviolet; position: relative;
                            border: 1px solid lightslategray; border-radius: 15px;">
                            <div style="position: absolute; color: white;">One acre</div>
                        </div>
                    </a>
                    
                    <div style="width: 300px; height: 150px; background-color: blueviolet; margin-left: 10px; position: relative;
                        border: 1px solid lightslategray; border-radius: 15px;">
                        <div style="position: absolute; color: white;"> Two acres</div>
                    </div>
                </div>
                    
                <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <div style="width: 300px; height: 150px; background-color: blueviolet; position: relative;
                        border: 1px solid lightslategray; border-radius: 15px;">
                        <div style="position: absolute; color: white;">Three acres</div>
                    </div>
                    <div style="width: 300px; height: 150px; background-color: blueviolet; margin-left: 10px; position: relative;
                        border: 1px solid lightslategray; border-radius: 15px;">
                        <div style="position: absolute; color: white;">One plot</div>
                    </div>
                </div>
    
                <div style="display: flex; justify-content: center;  margin-top: 20px;">
                    <div style="width: 300px; height: 150px; background-color: blueviolet; position: relative;
                     border: 1px solid lightslategray; border-radius: 15px;">
                        <div style="position: absolute; color: white;">Two plots</div>
                    </div>
                    <div style="width: 300px; height: 150px; background-color: blueviolet; margin-left: 10px; position: relative;
                        border: 1px solid lightslategray; border-radius: 15px;">
                        <div style="position: absolute; color: white;">Three plots</div>
                    </div>
                </div>
    
                <div style="display: flex; justify-content: center;  margin-top: 20px;">
                    <div style="width: 300px; height: 150px; background-color: blueviolet; position: relative;
                        border: 1px solid lightslategray; border-radius: 15px;">
                        <div style="position: absolute; color: white;">Four plots</div>
                    </div>
                    <div style="width: 300px; height: 150px; background-color: blueviolet; margin-left: 10px; position: relative;
                        border: 1px solid lightslategray; border-radius: 15px;">
                        <div style="position: absolute; color: white;">Five plots</div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    

{% endblock %}
