{% extends "layout.html" %}

{% block body %}
    <style>
        body
        {
            border: 4px inset;
            block-size: 100px;
        }
        .headerone
        {
            display: grid;
            font-size: 30px;
            place-items: center;
            min-height: 20vh;
        }
        .headertwo
        {
            min-height: 10vh;
            text-align:center;
        }
        .buttdesign
        {
            
            background-color: green;
            margin: 0 auto;
        }
        
    </style>
    <h1 class="headerone">
        We are here to make health care seamless for you. 
    </h1>
    <h2 class="headertwo">
        Let's get you started on this journey.
    </h2>
    <div style="text-align: center;">
        <a href="{{ url_for ('signuppage1') }}">
            <button class="buttdesign">Sign up for the first time</button>
        </a>
    </div>
    <p>
        <div style="text-align: center;">
            <a href="{{ url_for ('login') }}">
                <button class="buttdesign">login</button>
            </a>
        </div>
    </p>
    
{% endblock %}